{% extends 'base.html' %}

{% block title %}Resultados Contables{% endblock %}

{% block content %}
    <h1 class="text-3xl font-bold mb-6">Filtrar por Fechas</h1>
    <form method="get" action="{% url 'resultados' %}" class="space-y-4 mb-8">
        <div class="flex space-x-4">
            <div class="flex-1" style="margin: 20px;">
                <label for="fecha_inicio" class="block text-sm font-medium text-gray-700 mb-1">Fecha Inicio:</label>
                <input style="background-color: #f5f5f5; border: 1px solid #ccc; padding: 5px; border-radius: 10px;" type="date" id="fecha_inicio" name="fecha_inicio" required class="w-full px-3 py-2 border border-gray-300 rounded-md">
            </div>
            <div class="flex-1" style="margin: 20px;">
                <label for="fecha_final" class="block text-sm font-medium text-gray-700 mb-1">Fecha Final:</label>
                <input style="background-color: #f5f5f5; border: 1px solid #ccc; padding: 5px; border-radius: 10px;" type="date" id="fecha_final" name="fecha_final" required class="w-full px-3 py-2 border border-gray-300 rounded-md">
            </div>
        </div>
        <button type="submit" class="btn-primary" style="background-color: #4CAF50; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer; font-size: 16px;">Filtrar</button>
    </form>

    <h1 class="text-3xl font-bold mb-6">Buscar</h1>
    <div style="margin-top: 20px;" class="mb-6">
        <a href="#libro_diario" class="btn-primary" style="background-color: #007BFF; color: white; padding: 10px 15px; border-radius: 5px; text-decoration: none;">Libro diario</a>
        <a href="#mayores_tipo_cuenta" class="btn-primary" style="margin-right: 10px; background-color: #007BFF; color: white; padding: 10px 15px; border-radius: 5px; text-decoration: none;">Mayores por tipo de cuenta</a>
        <a href="#mayores_cuenta" class="btn-primary" style="margin-right: 10px; background-color: #007BFF; color: white; padding: 10px 15px; border-radius: 5px; text-decoration: none;">Mayores por cuenta</a>
        <a href="#estado_resultados" class="btn-primary" style="margin-right: 10px; background-color: #007BFF; color: white; padding: 10px 15px; border-radius: 5px; text-decoration: none;">Estado de Resultados</a>
        <a href="#estado_financiero" class="btn-primary" style="background-color: #007BFF; color: white; padding: 10px 15px; border-radius: 5px; text-decoration: none;">Estado Situación Financiera</a>
    </div>

    <h2 id="libro_diario" class="text-2xl font-bold mb-4">Libro Diario</h2>
    <div class="overflow-x-auto mb-8">
        <table class="w-full">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Tipo de Cuenta</th>
                    <th>Cuenta</th>
                    <th>Glose</th>
                    <th>Debe</th>
                    <th>Haber</th>
                </tr>
            </thead>
            <tbody>
                {% for fecha, cuenta, tipo_cuenta, glose, debe, haber in libro_diario %}
                    <tr>
                        <td>{{ fecha }}</td>
                        <td>{{ cuenta }}</td>
                        <td>{{ tipo_cuenta }}</td>
                        <td>{{ glose }}</td>
                        <td>{{ debe }}</td>
                        <td>{{ haber }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <h2 id="mayores_tipo_cuenta" class="text-2xl font-bold mb-4">Mayores por tipo de cuenta</h2>
    {% for mayor in resultados_mayores %}
        <h3 class="text-xl font-semibold mb-2">Mayor: {{ mayor.cuenta }}</h3>
        <div class="overflow-x-auto mb-6">
            <table class="w-full">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Debe</th>
                        <th>Haber</th>
                    </tr>
                </thead>
                <tbody>
                    {% for fecha, debe, haber in mayor.fechas_debe_haber %}
                        <tr>
                            <td>{{ fecha }}</td>
                            <td>{{ debe }}</td>
                            <td>{{ haber }}</td>
                        </tr>
                    {% endfor %}
                    <tr class="font-bold" style="font-weight: bold;">
                        <td>Total</td>
                        <td>{{ mayor.total_debe }}</td>
                        <td>{{ mayor.total_haber }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    {% endfor %}

    <h2 id="mayores_cuenta" class="text-2xl font-bold mb-4">Mayores por cuenta</h2>
    {% for mayor in resultados_mayores_ce %}
        <h3 class="text-xl font-semibold mb-2">Mayor: {{ mayor.tipo_cuenta }}</h3>
        <div class="overflow-x-auto mb-6">
            <table class="w-full">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Debe</th>
                        <th>Haber</th>
                    </tr>
                </thead>
                <tbody>
                    {% for fecha, debe, haber in mayor.fechas_debe_haber %}
                        <tr>
                            <td>{{ fecha }}</td>
                            <td>{{ debe }}</td>
                            <td>{{ haber }}</td>
                        </tr>
                    {% endfor %}
                    <tr class="font-bold" style="font-weight: bold;">
                        <td>Total</td>
                        <td>{{ mayor.total_debe }}</td>
                        <td>{{ mayor.total_haber }}</td>
                    </tr>
                    <tr class="font-bold" style="font-weight: bold;">
                        <td>Saldo Final</td>
                        <td colspan="2">{{ mayor.saldo_final }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    {% endfor %}

    <h2 id="estado_resultados" class="text-2xl font-bold mb-4">Estado de Resultados</h2>
    <div class="overflow-x-auto mb-8">
        <table class="w-full">
            <tbody>
             
                <tr>
                    <td>+ VENTAS</td>
                    <td>{{ estado_resultados.ventas }}</td>
                </tr>
                <tr>
                    <td>- COSTO DE VENTAS</td>
                    <td>{{ estado_resultados.costo_ventas }}</td>
                </tr>
                <tr class="font-bold">
                    <td style="font-weight: bold;">= UTILIDAD BRUTA</td>
                    <td>{{ estado_resultados.utilidad_bruta }}</td>
                </tr>
                <tr>
                    <td>- GASTOS ADMINISTRATIVOS</td>
                    <td>{{ estado_resultados.gastos_administrativos }}</td>
                </tr>
                <tr>
                    <td>- GASTOS DE VENTAS</td>
                    <td>{{ estado_resultados.gastos_ventas }}</td>
                </tr>
                <tr class="font-bold">
                    <td style="font-weight: bold;">= UTILIDAD DE OPERACIÓN</td>
                    <td>{{ estado_resultados.utilidad_operacion }}</td>
                </tr>
                <tr>
                    <td>+ OTROS INGRESOS</td>
                    <td>{{ estado_resultados.otros_ingresos }}</td>
                </tr>
                <tr>
                    <td>+ INGRESOS FINANCIEROS</td>
                    <td>{{ estado_resultados.ingresos_financieros }}</td>
                </tr>
                <tr>
                    <td>- OTROS GASTOS</td>
                    <td>{{ estado_resultados.otros_gastos }}</td>
                </tr>
                <tr>
                    <td>- GASTOS FINANCIEROS</td>
                    <td>{{ estado_resultados.gastos_financieros }}</td>
                </tr>
                <tr class="font-bold">
                    <td style="font-weight: bold;">= UTILIDAD ANTES DE IMPUESTOS</td>
                    <td>{{ estado_resultados.utilidad_antes_impuestos }}</td>
                </tr>
                <tr>
                    <td>- IMPUESTO A LA RENTA</td>
                    <td>{{ estado_resultados.impuesto_renta }}</td>
                </tr>
                <tr class="font-bold">
                    <td style="font-weight: bold;">= UTILIDAD NETA</td>
                    <td>{{ estado_resultados.utilidad_neta }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <h2 id="estado_financiero" class="text-2xl font-bold mb-4">Estado Financiero</h2>
    <div class="overflow-x-auto">
        <table class="w-full">
            <thead>
                <tr>
                    <th>Activos</th>
                    <th>Monto (en Soles)</th>
                    <th>Pasivos y Patrimonio</th>
                    <th>Monto (en Soles)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2" style="font-weight: bold; color: #333;">ACTIVOS CORRIENTES</td>
                    <td colspan="2" style="font-weight: bold; color: #333;">PASIVOS CORRIENTES</td>
                </tr>
                <tr>
                    <td>Efectivo y Equivalentes de Efectivo</td>
                    <td>{{ estado_situacion_financiera.valores_cuentas.10 }}</td>
                    <td>Tributos y Aportes al Sistema de Pensiones y de Salud por Pagar</td>
                    <td>{{ estado_situacion_financiera.valores_cuentas.40 }}</td>
                </tr>
                <tr>
                    <td>Inversiones Financieras</td>
                    <td>{{ estado_situacion_financiera.valores_cuentas.11 }}</td>
                    <td>Remuneraciones y Participaciones por Pagar</td>
                    <td>{{ estado_situacion_financiera.valores_cuentas.41 }}</td>
                </tr>
                <tr>
                    <td>Cuentas por Cobrar Comerciales Terceros</td>
                    <td>{{ estado_situacion_financiera.valores_cuentas.12 }}</td>
                    <td>Cuentas por Pagar Comerciales Terceros</td>
                    <td>{{ estado_situacion_financiera.valores_cuentas.42 }}</td>
                </tr>
                <tr>
                    <td>Cuentas por Cobrar Comerciales Relacionadas</td>
                    <td>{{ estado_situacion_financiera.valores_cuentas.13 }}</td>
                    <td>Cuentas por Pagar Comerciales Relacionadas</td>
                    <td>{{ estado_situacion_financiera.valores_cuentas.43 }}</td>
                </tr>
                <tr>
                    <td>Cuentas por Cobrar al Personal, a los Accionistas</td>
                    <td>{{ estado_situacion_financiera.valores_cuentas.14 }}</td>
                    <td>Cuentas por Pagar a los Accionistas, Directores y Gerentes</td>
                    <td>{{ estado_situacion_financiera.valores_cuentas.44 }}</td>
                </tr>
                <tr>
                    <td>Cuentas por Cobrar Diversas Terceros</td>
                    <td>{{ estado_situacion_financiera.valores_cuentas.16 }}</td>
                    <td>Cuentas por Pagar Diversas Terceros</td>
                    <td>{{ estado_situacion_financiera.valores_cuentas.46 }}</td>
                </tr>
                <tr>
                    <td>Cuentas por Cobrar Diversas Relacionadas</td>
                    <td>{{ estado_situacion_financiera.valores_cuentas.17 }}</td>
                    <td>Cuentas por Pagar Diversas Relacionadas</td>
                    <td>{{ estado_situacion_financiera.valores_cuentas.47 }}</td>
                </tr>
                <tr>
                    <td>Servicios y Otros Contratados por Anticipado</td>
                    <td>{{ estado_situacion_financiera.valores_cuentas.18 }}</td>
                    <td>Provisiones</td>
                    <td>{{ estado_situacion_financiera.valores_cuentas.48 }}</td>
                </tr>
                <tr>
                    <td>Mercaderías</td>
                    <td>{{ estado_situacion_financiera.valores_cuentas.20 }}</td>
                    <td style="font-weight: bold;">Total Pasivos Corrientes</td>
                    <td style="font-weight: bold;">{{ estado_situacion_financiera.total_pasivo_corriente }}</td>
                </tr>
                <tr>
                    <td>Productos Terminados</td>
                    <td>{{ estado_situacion_financiera.valores_cuentas.21 }}</td>
                    <td colspan="2" style="font-weight: bold; color: #333;">PASIVOS NO CORRIENTES</td>
                </tr>
                <tr>
                    <td>Subproductos, Desechos y Desperdicios</td>
                    <td>{{ estado_situacion_financiera.valores_cuentas.22 }}</td>
                    <td>Obligaciones Financieras</td>
                    <td>{{ estado_situacion_financiera.valores_cuentas.45 }}</td>
                </tr>
                <tr>
                    <td>Productos en Proceso</td>
                    <td>{{ estado_situacion_financiera.valores_cuentas.23 }}</td>
                    <td>Pasivo Diferido</td>
                    <td>{{ estado_situacion_financiera.valores_cuentas.49 }}</td>
                </tr>
                <tr>
                    <td>Materias Primas</td>
                    <td>{{ estado_situacion_financiera.valores_cuentas.24 }}</td>
                    <td style="font-weight: bold;">Total Pasivos No Corrientes</td>
                    <td style="font-weight: bold;">{{ estado_situacion_financiera.total_pasivo_no_corriente }}</td>
                </tr>
                <tr>
                    <td>Materiales Auxiliares, Suministros y Repuesto</td>
                    <td>{{ estado_situacion_financiera.valores_cuentas.25 }}</td>
                    <td colspan="2" style="font-weight: bold; color: #333;">PATRIMONIO</td>

                </tr>
                <tr>
                    <td>Envases y Embalajes</td>
                    <td>{{ estado_situacion_financiera.valores_cuentas.26 }}</td>
                    <td>Capital</td>
                    <td>{{ estado_situacion_financiera.valores_cuentas.50 }}</td>
                </tr>
                <tr>
                    <td>Activos No Corrientes Mantenidos para la Venta</td>
                    <td>{{ estado_situacion_financiera.valores_cuentas.27 }}</td>
                    <td>Acciones de Inversión</td>
                    <td>{{ estado_situacion_financiera.valores_cuentas.51 }}</td>
                </tr>
                <tr>
                    <td>Existencias por Recibir</td>
                    <td>{{ estado_situacion_financiera.valores_cuentas.28 }}</td>
                    <td>Capital Adicional</td>
                    <td>{{ estado_situacion_financiera.valores_cuentas.52 }}</td>
                </tr>
                <tr>
                    <td>Desvalorización de existencias</td>
                    <td>{{ estado_situacion_financiera.valores_cuentas.29 }}</td>
                    <td>Resultados no realizados</td>
                    <td>{{ estado_situacion_financiera.valores_cuentas.56 }}</td>
                </tr>
                <tr class="font-bold">
                    <td style="font-weight: bold;">Total Activos Corrientes</td>
                    <td>{{ estado_situacion_financiera.total_activo_corriente }}</td>
                    <td>Excedente de revaluación</td>
                    <td>{{ estado_situacion_financiera.valores_cuentas.57 }}</td>
                </tr>
                <tr>
                    <td colspan="2" style="font-weight: bold; color: #333;">ACTIVOS NO CORRIENTES</td>
                    <td>Reservas</td>
                    <td>{{ estado_situacion_financiera.valores_cuentas.58 }}</td>
                </tr>
                <tr>
                    <td>Inversiones Mobiliarias</td>
                    <td>{{ estado_situacion_financiera.valores_cuentas.30 }}</td>
                    <td style="font-weight: bold;">Total Patrimonio</td>
                    <td style="font-weight: bold;">{{ estado_situacion_financiera.total_patrimonio }}</td>
                </tr>
                <tr>
                    <td>Inversiones Inmobiliarias</td>
                    <td>{{ estado_situacion_financiera.valores_cuentas.31 }}</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Activos Adquiridos en Arrendamiento Financiero</td>
                    <td>{{ estado_situacion_financiera.valores_cuentas.32 }}</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Inmuebles, Maquinaria y Equipo</td>
                    <td>{{ estado_situacion_financiera.valores_cuentas.33 }}</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Intangibles</td>
                    <td>{{ estado_situacion_financiera.valores_cuentas.34 }}</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Activos Biológicos</td>
                    <td>{{ estado_situacion_financiera.valores_cuentas.35 }}</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Desvalorización de Activo Inmovilizado</td>
                    <td>{{ estado_situacion_financiera.valores_cuentas.36 }}</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Activo Diferido</td>
                    <td>{{ estado_situacion_financiera.valores_cuentas.37 }}</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Otros Activos</td>
                    <td>{{ estado_situacion_financiera.valores_cuentas.38 }}</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Depreciación, Amortización y Agotamiento Acumulados</td>
                    <td>{{ estado_situacion_financiera.valores_cuentas.39 }}</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr style="font-weight: bold;">
                    <td>Total Activos No Corrientes</td>
                    <td>{{ estado_situacion_financiera.total_activo_no_corriente }}</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr style="font-weight: bold; color: #333;">
                    <td>TOTAL ACTIVOS</td>
                    <td>{{ estado_situacion_financiera.total_activo }}</td>
                    <td>TOTAL PASIVOS Y PATRIMONIOS</td>
                    <td>{{ estado_situacion_financiera.total_pasivo_patrimonio }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
