{% extends 'base.html' %}

{% block title %}Saldos Iniciales{% endblock %}

{% block content %}
<div class="max-w-4xl mx-auto px-4 py-6">
    <h1 class="text-4xl font-bold mb-6 text-center text-primary">Elegir Saldos Iniciales</h1>

    <form method="post" class="bg-white shadow-md rounded-lg p-8 space-y-6">
        {% csrf_token %}
        {% for field in saldo_form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-2">
                    {{ field.label }}
                </label>
                <div class="relative">
                    {{ field }}
                    {% if field.errors %}
                        <div class="text-red-500 text-sm mt-1">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <div style="margin-top: 20px;" class="flex justify-center">
            <button type="submit" name="modificar_saldo" class="btn btn-primary px-4 py-2 rounded-lg shadow-md transition duration-300 hover:bg-primary-dark">
                Modificar Saldo Inicial
            </button>
        </div>
    </form>

   
</div>

<h2 class="text-2xl font-bold mb-4">Saldo Iniciales registrados (cero por defecto)</h2>
    <div class="overflow-x-auto mb-8">
        <table class="w-full">
            <thead>
                <tr>
                    <th>Cuenta</th>
                    <th>Saldo Inicial</th>
                </tr>
            </thead>
            <tbody>
                {% for saldo in saldos %}
                    <tr>
                        <td>{{ saldo.cuenta }}</td>
                        <td>{{ saldo.saldo_inicial }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>



{% endblock %}
